<%- include('../inc/header.ejs') %>
  <div class="container">
    <h1 style="font-weight: bold; text-align: center; margin-top: 20px;">Danh sách khách hàng</h1>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <form class="d-flex" role="search">
          <div class="d-flex justify-content-around align-items-center mb-9">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sắp xếp theo
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/dichvu/sxtenservice">Tên</a></li>
                <li><a class="dropdown-item" href="/dichvu/sxtheogia">Giá</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </nav>
  </div>

  <div class="container">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Tên khách hàng</th>
        <th>Số điện thoại</th>
        <th>Email</th>
        <th>Ảnh đại diện</th>
        <th>address</th>
        <th>otp</th>
        <th>otp</th>
        <th>balance</th>
      </tr>
      <% listUsers.forEach( ( row )=>{ %>
        <tr>
          <td>
            <%= row.name %>
          </td>
          <td>
            <%= row.phone %>
          </td>
          <td>
            <%= row.email %>
          </td>
          <td> <img src="<%=row.image %>" alt="" style="width: 60px; height: 60px;margin-left: 10px;"></td>
          <td>
            <%= row.address %>
          </td>
          <td>
            <%= row.otp %>
          </td>
          <td>
            <%= row.otp %>
          </td>
          <td>
            <%= row.balance %>
          </td>
        </tr>
        <% } ) %>
    </table>
  </div>

  <div style="margin-left: 850px; margin-top: 50px;">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link"
            href="http://localhost:3000/user?currentPage-1&limit=5">Previous</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/user?page=1&limit=5">1</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/user?page=2&limit=5">2</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/user?page=3&limit=5">3</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/user?page=4&limit=5">4</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/user?currentPage+1&limit=5">Next</a>
        </li>
      </ul>
    </nav>
  </div>

  <%- include('../inc/footer.ejs') %>