<%- include('../inc/header.ejs') %>
<div class="container">
    <h1 style="font-weight: bold; text-align: center;">Danh sách Dịch Vụ</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <form class="d-flex" role="search">
          <div class="col-3">
  <a type="button" class="btn btn-success" href="http://localhost:3000/dichvu/add" style="width: 150px;">+ Thêm dịch vụ
  </a>
        </div>
        </form>
      </div>
    </nav>
    </div>

    <div class="container">
      <table class="table table-bordered table-striped">
        <tr><th>ID</th> <th>Name</th> <th>Price</th> <th>Type</th> <th>Image</th> <th>Describe</th> 
        </tr>
        <% listDichVu.forEach( ( row )=>{  %>
            <tr>
                <td><%= row._id %></td>
                <td> <%= row.name %></td>
                <td> <%= row.price %></td>
                <td> <%= row.type %></td>
                <td>  <img src="<%=row.image %>" alt="" style="width: 60px; height: 60px;"></td>
                <td> <%= row.describe %></td>
                <td><a type="button" class="btn btn-danger" href="/dichvu/edit/<%=row._id%>">Sửa
                </a>
                <td><a  class="btn btn-danger" href="/dichvu/delete/<%=row._id%>">Xóa
                </a>
            </tr>
        
        
            <% } ) %>
        
        
        
        
        </table>
  </div>

    
    <div style="margin-left: 850px; margin-top: 50px;">
        <p class="text-muted">
            <a href="#" class="text-reset">Đang xem 3/12</a>
        
            <button class="btn btn-light">Trước</button>
            <button class="btn btn-light">1</button>
            <button class="btn btn-light">2</button>
            <button class="btn btn-light">3</button>
            <button class="btn btn-light">Tiếp</button>
        </p>
    </div>
  
  <%- include('../inc/footer.ejs') %>
  </div>