<%- include('../inc/header.ejs') %>
    <h1 style="font-weight: bold; text-align: center; margin-top: 20px;">Sửa Sản Phẩm</h1>

    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            <form class="px-4 py-3">
                <div class="mb-3">
                    <label class="form-label">Hình ảnh</label>
                    <label for="formFileMultiple" class="form-label"></label>
                    <input class="form-control" type="file" name="file_anh" id="formFileMultiple"
                        value="<%=objP.avatar %>" multiple>
                </div>
                <label class="form-label">Tên sản phẩm</label>
                <input type="text" name="name" placeholder="Tên sản phẩm" class="form-control"
                    value="<%=objP.name %>"><br>
                <label class="form-label">Nhãn hiệu</label>
                <input type="text" name="trademark" placeholder="Nhãn hiệu" class="form-control"
                    value="<%=objP.trademark %>"><br>
                <label class="form-label">Giá</label>
                <input type="text" name="price" placeholder="Giá" class="form-control" value="<%=objP.price %>"><br>
                <label class="form-label">Mô tả</label>
                <input type="text" name="describe" placeholder="Mô tả" class="form-control"
                    value="<%=objP.describe %>"><br>
                <label class="form-label">Nguyên liệu</label>
                <input type="text" name="ingredient" placeholder="Nguyên liệu" class="form-control"
                    value="<%=objP.ingredient %>"><br>
                <label class="form-label">Loại</label>
                <input type="text" name="type" placeholder="Loại" class="form-control" value="<%=objP.type %>"><br>
                <button class="btn btn-warning" type="submit">Lưu</button>
                <%= msg %>
            </form>
        </form>
    </div>
<%- include('../inc/footer.ejs') %>