<%- include('../inc/header.ejs') %>
<div class="container">
    <h1 style="font-weight: bold; text-align: center;">Danh sách Sản Phẩm</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <form class="d-flex" role="search">
          <div class="d-flex justify-content-around align-items-center mb-2">
  <a type="button" class="btn btn-success" style="width: 160px; margin-right: 55px;" href="http://localhost:3000/product/add">+ Thêm sản phẩm
  </a>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Sắp xếp theo
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/product/sxtheotensp">Tên</a></li>
    <li><a class="dropdown-item" href="/product/sxtheogiasp">Giá</a></li>
  </ul>
</div>
        </div>
        </form>
      </div>
    </nav>
    </div>

    <div class="container">
      <table class="table table-bordered table-striped">
        <tr> <th>Avatar</th> <th>Name</th> <th>Trademark</th> <th>Price</th> <th>Describe</th> <th>Ingredient</th> <th>Type</th>
        </tr>
        <% listProducts.forEach( ( row )=>{  %>
            <tr>
                
                <td>  <img src="<%=row.avatar %>" alt="" style="width: 60px; height: 60px;"></td>
                <td> <%= row.name %></td>
                <td> <%= row.trademark %></td>
                <td> <%= row.price %></td>
                <td> <%= row.describe %></td>
                <td> <%= row.ingredient %></td>
                <td> <%= row.type %></td>
                <td><a type="button" class="btn btn-danger" href="/product/edit/<%=row._id%>">Sửa
                </a>
                <td><a type="button" class="btn btn-danger" href="/product/delete/<%=row._id%>">Xóa
                </a>
            </tr>
        
        
            <% } ) %>
        
        
        
        
        </table>
  </div>

    
    <div style="margin-left: 850px; margin-top: 50px;">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="http://localhost:3000/product?currentPage-1&limit=5">Previous</a></li>
          <li class="page-item"><a class="page-link" href="http://localhost:3000/product?page=1&limit=5">1</a></li>
          <li class="page-item"><a class="page-link" href="http://localhost:3000/product?page=2&limit=5">2</a></li>
          <li class="page-item"><a class="page-link" href="http://localhost:3000/product?page=3&limit=5">3</a></li>
          <li class="page-item"><a class="page-link" href="http://localhost:3000/product?page=4&limit=5">4</a></li>
          <li class="page-item"><a class="page-link" href="http://localhost:3000/product?currentPage+1&limit=5">Next</a></li>
        </ul>
      </nav>
    </div>
  
  <%- include('../inc/footer.ejs') %>
  </div>