<%- include('../inc/header.ejs') %>
  <div class="container">
    <h1 style="font-weight: bold; text-align: center; margin-top: 20px;">Thống kê sản phẩm</h1>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <form class="d-flex" role="search">
          <div class="d-flex justify-content-around align-items-center mb-2">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sắp xếp theo
              </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/product/sxtheotensp">Tên</a></li>
                <li><a class="dropdown-item" href="/product/sxtheogiasp">Giá</a></li>
              </ul> 
            </div>
            <a type="button" class="btn btn-warning" style="width: 160px; margin-left: 30px;"
              href="#">Thống kê
            </a>
          </div>
        </form>
      </div>
    </nav>
  </div>

   <div class="container">
    <table class="table table-bordered table-striped">
      <tr class="text-sm-center">
        <th style="width: 70px;">Ảnh</th>
        <th style="width: 300px;">Tên sản phẩm</th>
        <th>Giá nhập</th>
        <th>Giá bán</th>
        <th>Doanh thu</th> 

      <% listProducts.forEach( ( row )=>{ %>
        <tr>

          <td> <img src="<%=row.avatar %>" alt="" style="width: 60px; height: 60px; margin-left: 25px;"></td>
          <td>
            <%= row.name %>
          </td>
          <td>
            <%= row.trademark %>
          </td>
          <td>
            <%= row.pricenhap %>
          </td>
          <td>
            <%= row.price %>
          </td>
          <td>
            <!-- <%= row.tongGiaTri %> -->
          </td>
        </tr>


        <% } ) %>




    </table>
  </div>


  

<%- include('../inc/footer.ejs') %> 