<%- include('../inc/header.ejs') %>

  <div class="container mt-3 mb-3 ">
    <h2 class="mb-5 d-flex justify-content-center">DANH SÁCH LỊCH ĐẶT</h2>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1">
            <div class="input-group rounded flex-grow-1">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
              <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </ul>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Sắp xếp theo
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Tên</a></li>
              <li><a class="dropdown-item" href="#">Giá</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>


  <div class="container">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Tên Salon</th>
        <th>Địa chỉ</th>
        <th>Giờ</th>
        <th>Ngày</th>
        <th>SĐT</th>
        <th>Ảnh Salon</th>
        <th>Dịch vụ</th>
        <th>Chi phí</th>
        <th style="width: 95px;">Trạng thái</th>
        <th style="width: 120px;">Người đặt</th>
        <th style="width: 120px;"></th>
      </tr>
      <% listBill.forEach( ( row )=>{ %>
        <tr>
          <td>
            <%= row.nameSalon %>
          </td>
          <td>
            <%= row.addressSalon %>
          </td>
          <td>
            <%= row.hour %>
          </td>
          <td>
            <%= row.day %>
          </td>
          <td>
            <%= row.phone %>
          </td>
          <td> <img src="<%=row.imageSalon %>" alt="" style="width: 60px; height: 60px;"></td>
          <td>
            <%= row.services %>
          </td>
          <td>
            <%= row.price %>
          </td>
          <td>
            <% if (row.status==='Sắp tới' || row.status==='Khách đang cắt' ) { %>
              <p style="color: rgb(187, 181, 0);">
                <%= row.status %>
              </p>
              <% } else if (row.status==='Đã hoàn thành' ) { %>
                <p style="color: rgb(0, 255, 68);">
                  <%= row.status %>
                </p>
                <% } else if (row.status==='Đã hủy lịch' || row.status==='Khách đến muộn') { %>
                  <p style="color: rgb(255, 0, 0);">
                    <%= row.status %>
                  </p>
                  <% } %>
          </td>

          <td>
            <%= row.idUser.name %>
          </td>
          <td>
            <div>
              <% if (row.status==='Sắp tới' || row.status==='Khách đang cắt' ||row.status==='Khách đến muộn' ) { %>
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                  data-bs-target="#exampleModal<%= row._id %>">
                  Xác nhận
                </button>
                <% } else if (row.status==='Đã hoàn thành' ) { %>
                  <% } else if (row.status==='Đã hủy lịch' ) { %>
                    <% } %>

                      <div class="modal fade" id="exampleModal<%= row._id %>" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true"
                        data-bs-target="#exampleModal<%= row._id %>">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Xác nhận lịch hẹn</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <% if (row.status==='Sắp tới' ) { %>

                              <div class="modal-body">
                                Bạn có muốn xác nhận Khách hàng <%= row.idUser.name %> - <%= row.phone %> - <%=
                                      row.nameSalon %> vào sử dụng dịch vụ không
                              </div>

                              <div class="modal-footer">
                                <a class="btn btn-success" href="/home/xac-nhan-lich-dat/<%= row._id%>">Xác nhận</a>
                              </div>
                              <% }else if(row.status==='Khách đang cắt' ) { %>
                                <div class="modal-body">
                                  Bạn có muốn xác nhận Khách hàng <%= row.idUser.name %> - <%= row.phone %> - <%=
                                        row.nameSalon %> Hoàn thành dịch vụ.
                                </div>

                                <div class="modal-footer">
                                  <a class="btn btn-success" href="/home/xac-nhan-lich-dat/<%= row._id%>">Xác nhận</a>
                                </div>
                                <% } %>
                          </div>
                        </div>
                      </div>
          </td>
        </tr>


        <% } ) %>
    </table>
  </div>


  <div style="margin-left: 850px; margin-top: 50px;">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="http://localhost:3000/home/?page=1&limit=5">Previous</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/home/?page=1&limit=5">1</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/home/?page=2&limit=5">2</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/home/?page=3&limit=5">3</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/home/?page=4&limit=5">4</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/home/?page=4&limit=5">Next</a></li>
      </ul>
    </nav>
  </div>

  <%- include('../inc/footer.ejs') %>