<%- include('../inc/header.ejs') %>

  <div class="container mt-3 mb-3">
    <h2 class="mb-5 d-flex justify-content-center">DANH SÁCH LỊCH ĐẶT</h2>
    <nav class="navbar navbar-expand-lg">
      <div class="d-flex justify-content-between" role="search" style="width: 100%;">
        
        <!-- thanh tìm kiếm -->
        <form class="form my-2 my-lg-0 d-flex" style="width: 93%;" action="" method="GET">
          <input style="height: 38px; width: 950px; margin-left: 5px;" class="form-control mr-sm-2 flex-grow-1"
            type="text" name="billSearch" id="searchInput" placeholder="Tìm kiếm..." aria-label="Search">
          <button style="height: 38px;" class="btn btn-warning my-2 my-sm-0" type="submit">Tìm kiếm</button>
        </form>

        <button class="btn btn-warning d-flex align-items-center ms-2" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <div class="pe-1">Bộ lọc</div><i class="fa-solid fa-filter"></i>
        </button>
        <!-- <a class="btn btn-warning p-2 ms-2" href="/home/add-bill">+ Thêm lịch cắt</a> -->
      </div>
    </nav>
  </div>

  <div class="collapse container" id="collapseExample">
    <div class="card card-body">
      <form id="filterForm" action="/home/filter-data" method="get">
        <div class="d-flex align-items-center mb-3">
          <div>
            <label for="startDate" class="fw-bolder">Từ ngày:</label>
            <div class="input-group mt-2">
              <input type="date" class="form-control" name="startDay">
            </div>
          </div>
          <div class="me-4 ms-4"><i class="fa-solid fa-arrow-right"></i></div>
          <div class="fw-bolder">
            Đến ngày:
            <div class="input-group mt-2">
              <input type="date" class="form-control" name="endDay">
            </div>
          </div>
        </div>

        <div class="form-group col-md-4 mb-3">
          <label class="ms-3 mb-2 fs-5 fw-bolder">Giờ</label>
          <div class="d-flex flex-row justify-content-between align-items-center">
            <select class="form-control" id="inputStartTimeMinute" name="startMinute" required>
              <% listTime.forEach((itemTime)=> { %>
                <option value="<%= itemTime.time %>">
                  <%= itemTime.time %>
                </option>
                <% }) %>
            </select>
          </div>
        </div>

        <div class="d-flex align-items-center">
          <div class="me-2">Theo trạng thái: </div>
          <div class="form-check m-3">
            <input class="form-check-input" type="checkbox" value="Đã hoàn thành" id="success" name="statusSuccess">
            <label class="form-check-label" for="success" style="color: rgb(0, 255, 68);">
              Đã hoàn thành
            </label>
          </div>
          <div class="form-check m-3">
            <input class="form-check-input" type="checkbox" value="Khách đang cắt" id="inService"
              name="statusInService">
            <label class="form-check-label" for="inService" style="color: rgb(86, 39, 255);">
              Khách đang cắt
            </label>
          </div>
          <div class="form-check m-3">
            <input class="form-check-input" type="checkbox" value="Khách đến muộn" id="late" name="statusLate">
            <label class="form-check-label" for="late" style="color: rgb(255, 0, 0);">
              Khách đến muộn
            </label>
          </div>
          <div class="form-check m-3">
            <input class="form-check-input" type="checkbox" value="Đã hủy lịch" id="cancel" name="statusCanceled">
            <label class="form-check-label" for="cancel" style="color: rgb(255, 0, 0);">
              Đã hủy
            </label>
          </div>
        </div>

        <div class="d-flex">
          <button class="btn btn-warning me-3" type="submit">Tìm kết quả</button>
          <a href="/home" class="btn btn-danger">Xóa bộ lọc</a>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <% if (listBill.length===0) { %>
      <p style="text-align: center; font-size: 30px;">Không có dữ liệu</p>
      <% } else { %>
        <table class="table table-bordered table-striped">
          <tr>
            <th>Tên khách hàng</th>
            <th>Dịch vụ sử dụng</th>
            <th>Giờ đặt</th>
            <th>Ngày đặt</th>
            <th>SĐT Khách Hàng</th>
            <th>Địa chỉ salon</th>
            <th>Chi phí</th>
            <th style="width: 150px;">Trạng thái</th>
            <th style="width: 120px;">Ghi chú</th>
            <th style="width: 120px;"> </th>
          </tr>

          <% listBill.forEach( ( row )=>{ %>
            <tr>
              <td>
                <a href="/user/detail-customer/<%=row.idUser._id%>"
                  style="text-decoration: none; color: black;font-weight: 500; text-decoration: underline;">
                  <%= row.idUser.name %>
                </a>
              </td>
              <td>
                <% var tenDichVu=row.services.map(dichVu=> dichVu.name).join(', ');%>
                  <%= tenDichVu %>
              </td>
              <td>
                <%= row.hour %>
              </td>
              <td>
                <%= row.day %>
              </td>
              <td>
                <%= row.idUser.phone %>
              </td>
              <td>
                <%= row.nameSalon %>
              </td>
              <td>
                <%= new Intl.NumberFormat('vi-VN', { style: 'currency' , currency: 'VND' }).format(row.price)%>
              </td>
              <!-- HIỂN THỊ TRẠNG THÁI -->
              <td>
                <% if (row.status==='Sắp tới' ) { %>
                  <div class="bg-warning align-items-center justify-content-center px-2" style="border-radius: 10px;">
                    <p style="color: white;text-align: center; font-weight: 500;">
                      <%= row.status %>
                    </p>
                  </div>
                  <% } else if (row.status==='Đã hoàn thành' ) { %>
                    <div class="bg-success align-items-center justify-content-center px-2" style="border-radius: 10px;">
                      <p style="color: white;text-align: center; font-weight: 500;">
                        <%= row.status %>
                      </p>
                    </div>
                    <% } else if (row.status==='Đã hủy lịch' || row.status==='Khách đến muộn' ) { %>
                      <div class="bg-danger align-items-center justify-content-center px-2"
                        style="border-radius: 10px;">
                        <p style="color: white;text-align: center; font-weight: 500;">
                          <%= row.status %>
                        </p>
                      </div>
                      <% } else if (row.status==='Khách đang cắt' ) { %>
                        <div class="bg-primary align-items-center justify-content-center px-2"
                          style="border-radius: 10px;">
                          <p style="color: white;text-align: center; font-weight: 500;">
                            <%= row.status %>
                          </p>
                        </div>
                        <% } %>
              </td>
              <!-- PHẦN GHI CHÚ -->
              <td>
                <%= row.note %>
                  <a href="" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal<%= row._id %>"
                    data-bs-whatever="@getbootstrap"><i class="fa-solid fa-file-pen"></i></a>
                  <div class="modal fade" id="exampleModal<%= row._id %>" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-target="#exampleModal<%= row._id %>">

                    <div class="modal-dialog">
                      <form id="editNoteForm" action="/home/add-note/<%= row._id %>" method="POST">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Chỉnh sửa ghi chú</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="mb-3">
                              <label for="message-text" class="col-form-label">Message:</label>
                              <textarea class="form-control" id="message-text" name="textNote"></textarea>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Xác nhận</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
              </td>
              <!-- PHẦN XÁC NHẬN TRẠNG THÁI -->
              <td>
                <div>
                  <% if (row.status==='Sắp tới' || row.status==='Khách đang cắt' || row.status==='Khách đến muộn' ) { %>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                      data-bs-target="#accept<%= row._id %>">Xác nhận</button>
                    </button>
                    <% } else if (row.status==='Đã hoàn thành' ) { %>
                      <% } else if (row.status==='Đã hủy lịch' ) { %>
                        <% } %>
                          <div class="modal fade" id="accept<%= row._id %>" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true"
                            data-bs-target="#accept<%= row._id %>">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Xác nhận lịch hẹn</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                </div>
                                <% if (row.status=='Sắp tới' ) { %>
                                  <div class="modal-body">
                                    Bạn có muốn xác nhận Khách hàng <%= row.idUser.name %> - <%= row.phone %> -
                                        <%= row.nameSalon %> vào sử dụng dịch vụ không
                                  </div>
                                  <div class="modal-footer">
                                    <a class="btn btn-success" href="/home/xac-nhan-lich-dat/<%= row._id%>">Xác
                                      nhận</a>
                                  </div>
                                  <% }else if(row.status=='Khách đến muộn' ) { %>
                                    <div class="modal-body">
                                      Bạn có muốn xác nhận Khách hàng <%= row.idUser.name %> - <%= row.phone %> -
                                          <%= row.nameSalon %> vào sử dụng dịch vụ.
                                    </div>
                                    <div class="modal-footer">
                                      <a class="btn btn-danger" href="/home/huy-lich/<%= row._id%>">Hủy
                                        lịch</a>
                                      <a class="btn btn-success" href="/home/xac-nhan-lich-dat/<%= row._id%>">Xác
                                        nhận</a>
                                    </div>
                                    <% }else if(row.status=='Khách đang cắt' ) { %>
                                      <div class="modal-body">
                                        Bạn có muốn xác nhận Khách hàng <%= row.idUser.name %> - <%= row.phone %>
                                            -
                                            <%= row.nameSalon %> hoàn thành dịch vụ.
                                      </div>
                                      <div class="modal-footer">
                                        <a class="btn btn-success" href="/home/xac-nhan-lich-dat/<%= row._id%>">Xác
                                          nhận</a>
                                      </div>
                                      <% } %>
                              </div>
                            </div>
                          </div>
                </div>
              </td>
            </tr>
            <% } ) %>
        </table>
        <% } %>
  </div>


  <div style="margin-left: 850px; margin-top: 50px;">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="http://localhost:3000/home/?page=1&limit=5">Previous</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/home/?page=1&limit=5">1</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/home/?page=2&limit=5">2</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/home/?page=3&limit=5">3</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/home/?page=4&limit=5">4</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/home/?page=4&limit=5">Next</a></li>
      </ul>
    </nav>
  </div>

  <%- include('../inc/footer.ejs') %>