<%
<!-- Hàm chuyển đổi số thành chuỗi với dấu chấm phân tách sau mỗi 3 chữ số -->
  function numberWithCommas(number) {
    return number.toLocaleString();
  }
%>
<%- include('../inc/header.ejs') %>

<div class="container">
  <h1 style="font-weight: bold; text-align: center; margin-top: 20px;">Thống kê bán hàng</h1>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <form class="d-flex" role="search"> 
        <div class="d-flex justify-content-around align-items-center mb-2">

          <div class="dropdown">
            <button style="margin-right: 20px;" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Sắp xếp theo
            </button>
            
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Tên</a></li>
              <li><a class="dropdown-item" href="">Giá</a></li>
            </ul>
          </div>
          
        </div>
        <form class="form-inline my-2 my-lg-0" method="post" action="">
          <input style="height: 38px; margin-right: 5px;" class="form-control mr-sm-2" type="search" name="billSearch" id="searchInput" placeholder="Nhập tên sản phẩm..." aria-label="Search">
          <button style="height: 38px;" class="btn btn-warning my-2 my-sm-0" type="submit">Tìm</button>
      </form>
      
      </form>
      
    </div>
    
  </nav>
</div>

<div class="container">
  <% if (listSatistic.length === 0) { %>
    <p style="text-align: center; font-size: 30px;">Không có dữ liệu</p>
  <% } else { %>
  <table id="productTable" class="table table-bordered table-striped">
    <tr class="text-sm-center">
      <th style="width: 400px;">Tên sản phẩm</th>
      <th style="width: 150px;"> Số lượng nhập</th>
      <th>Giá nhập</th>
      <th>Tổng tiền nhập</th>
      <th>Số lượng đã bán</th>
      <th>Giá bán</th>
      <th>Tổng tiền bán</th>
      <th>Trạng thái</th>

    </tr>

    <% listSatistic.forEach( ( row )=>{  %>
      <tr>         
        <td>
          <%= row.name %>
        </td>
        <td>
            <%= row.soluongnhap %>
          </td>
        <td>
          <%= row.pricenhap %>
        </td>
        <td>
            <% 
              const price = row.pricenhap;
              const slnhap = row.soluongnhap;
              const tongtiennhap = price * slnhap;
            %>
            <%= tongtiennhap %> 
        </td>

        <td>
          <% 
          let totalQuantity = 0;
          let totalSalesValue = 0; // Initialize the total sales value
          listOders.forEach((order) => {
            if (order.status == 'Đã giao hàng'){
            order.products.forEach((product) => {
              if (product.name === row.name) {
                totalQuantity += parseInt(product.quantity || 0, 10);
              }
            });

          const priceban = row.price;
          const slban = totalQuantity;
          const tongtienban = priceban * slban;
          totalSalesValue += tongtienban; // Accumulate the total sales value
          }
          });
        %>
        <%= totalQuantity %>
        </td>

        <td>
            <%= row.price %>
        </td>
        <td>
          <% 
              const priceban = row.price;
              const slban = totalQuantity;
              const tongtienban = priceban * slban;
            %>
            <%= tongtienban %>
        </td>
        <td>
          <% if (row.soluongnhap <= 0) { %>
            <p style="color: red;">Hết hàng</p>
          <% } else { %>
            Còn hàng
          <% } %>
        </td>


      </tr>


    <% }) %>
 
   <p style="font-weight: bold;">Tổng tiền nhập hàng: <%= numberWithCommas(total) %>đ</p>
    <p style="font-weight: bold;">Tổng tiền bán hàng: <%= numberWithCommas(totalSales) %>đ</p>

      
  </table> 
  <% } %>  
</div> 


<div style="margin-left: 850px; margin-top: 50px;">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="http://localhost:3000/statistic/thongkebanhang?page-1&limit=10">Previous</a></li>
      <li class="page-item"><a class="page-link" href="http://localhost:3000/statistic/thongkebanhang?page=1&limit=10">1</a></li>
      <li class="page-item"><a class="page-link" href="http://localhost:3000/statistic/thongkebanhang?page=2&limit=10">2</a></li>
      <li class="page-item"><a class="page-link" href="http://localhost:3000/statistic/thongkebanhang?page=3&limit=10">3</a></li>
      <li class="page-item"><a class="page-link" href="http://localhost:3000/statistic/thongkebanhang?page=4&limit=10">4</a></li>
      <li class="page-item"><a class="page-link" href="http://localhost:3000/statistic/thongkebanhang?page+1&limit=10">Next</a></li>
    </ul>
  </nav>
</div>


<%- include('../inc/footer.ejs') %>