<%- include('../inc/header.ejs') %>
  <main id="main" class="main">
    <div class="pagetitle mb-4">
      <h1>Bảng thống kê dịch vụ</h1>
    </div>
    <div class="card card-body mb-4">
      <form id="filterForm" action="/statistic/thongketheolichcat" method="get" enctype="multipart/form-data"
        class="d-flex align-items-center">
        <div class="d-flex align-items-center">
          <div>
            <label for="startDate">Từ ngày:</label>
            <div class="input-group">
              <input type="date" class="form-control" name="startDay" id="startDay" value="<%= formattedStartDate %>">
            </div>
          </div>
          <div class="me-4 ms-4"><i class="fa-solid fa-arrow-right"></i></div>
          <div>
            Đến ngày:
            <div class="input-group">
              <input type="date" class="form-control" name="endDay" id="endDay" value="<%= formattedEndDate %>">
            </div>
          </div>
        </div>
        <div class="ms-4">
          <button class="btn btn-warning fw-medium" type="submit">Tìm kết quả</button>
        </div>
      </form>
    </div>
    <section class="section dashboard">
      <div class="row">

        <div class="col-lg-8">
          <div class="row">
            <!-- TỔNG DOANH THU -->
            <div class="col-xxl-4 col-md-6 mb-3">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Tổng doanh thu</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="fa-solid fa-scissors"></i>
                    </div>
                    <div class="ps-3">
                      <h6>
                        <%= new Intl.NumberFormat('vi-VN', { style: 'currency' , currency: 'VND'
                          }).format(totalAmount)%>
                      </h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span
                        class="text-muted small pt-2 ps-1">increase</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- KHÁCH TRỰC TIẾP -->
            <!-- <div class="col-xxl-4 col-md-6 mb-3">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Từ khách Trực tiếp</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="fa-solid fa-map-location-dot"></i>
                    </div>
                    <div class="ps-3">
                      <h6>$3,264</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span
                        class="text-muted small pt-2 ps-1">increase</span>
                    </div>
                  </div>
                </div>

              </div>
            </div> -->

            <!-- KHÁCH ONLINE -->
            <!-- <div class="col-xxl-4 col-xl-12 mb-3">
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Từ khách onilne</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="fa-solid fa-mobile-screen-button"></i>
                    </div>
                    <div class="ps-3">
                      <h6>1244</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span
                        class="text-muted small pt-2 ps-1">decrease</span>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Top Salon - Doanh thu cao nhất</span></h5>
                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên Salon</th>
                        <th scope="col">Địa chỉ Salon</th>
                        <th scope="col">Doanh thu</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (let i=0; i < salonRevenueList.length; i++) { %>
                        <tr>
                          <th>
                            <% if (i===0) { %>
                              <span class="text-warning fw-bold fs-4">Top <%= i + 1 %></span>
                              <% } else if (i===1) { %>
                                <span class="text-success fw-semibold fs-5">Top <%= i + 1 %></span>
                                <% } else if (i===2) { %>
                                  <span class="text-info fw-medium fs-6">Top <%= i + 1 %></span>
                                  <% } else { %>
                                    <span class="text-secondary">Top <%= i + 1 %></span>
                                    <% } %>
                          </th>

                          <td>
                            <%= salonRevenueList[i].salonDetail.name %>
                          </td>
                          <td>
                            <%= salonRevenueList[i].salonDetail.address %>
                          </td>
                          <td>
                            <%= new Intl.NumberFormat().format(salonRevenueList[i].revenue.toFixed(2)) %> VNĐ
                          </td>
                        </tr>
                        <% } %>
                    </tbody>
                  </table>

                </div>
              </div>
            </div><!-- End Recent Sales -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">
          <!-- Recent Activity -->
          <!-- Bảng hiển thị Top 10 dịch vụ theo số lần sử dụng -->
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title fs-3 mb-4">Top dịch vụ ưa thích theo số lần sử dụng</h5>
              <div class="activity">
                <% topServiceByCount.forEach((service, index)=> { %>
                  <div class="activity-item d-flex">
                    <div class="activite-label">
                      <!-- Các điều kiện màu sắc có thể được thay đổi tùy thuộc vào yêu cầu của bạn -->
                      <% if (index===0) { %>
                        <span class="text-warning fw-bold fs-4">Top <%= index + 1 %></span>
                        <% } else if (index===1) { %>
                          <span class="text-success fw-semibold fs-5">Top <%= index + 1 %></span>
                          <% } else if (index===2) { %>
                            <span class="text-info fw-medium fs-6">Top <%= index + 1 %></span>
                            <% } else { %>
                              <span class="text-secondary">Top <%= index + 1 %></span>
                              <% } %>
                    </div>
                    <i class='bi bi-circle-fill activity-badge align-self-start'></i>
                    <div class="activity-content">
                      <%= service[0] %> - <%= service[1] %> lần
                    </div>
                  </div>
                  <% }); %>
              </div>
            </div>
          </div>

          <!-- Thống kê top 10 dịch vụ theo doanh thu -->
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title fs-3 mb-4">Top dịch vụ ưa thích theo doanh thu</h5>
              <div class="activity">
                <% topServiceByRevenue.forEach((service, index)=> { %>
                  <div class="activity-item d-flex">
                    <div class="activite-label">
                      <!-- Các điều kiện màu sắc có thể được thay đổi tùy thuộc vào yêu cầu của bạn -->
                      <% if (index===0) { %>
                        <span class="text-warning fw-bold fs-4">Top <%= index + 1 %></span>
                        <% } else if (index===1) { %>
                          <span class="text-success fw-semibold fs-5">Top <%= index + 1 %></span>
                          <% } else if (index===2) { %>
                            <span class="text-info fw-medium fs-6">Top <%= index + 1 %></span>
                            <% } else { %>
                              <span class="text-secondary">Top <%= index + 1 %></span>
                              <% } %>
                    </div>
                    <i class='bi bi-circle-fill activity-badge align-self-start'></i>
                    <div class="activity-content">
                      <%= service[0] %> - <%= new Intl.NumberFormat().format(service[1]) %> VND
                    </div>
                  </div>
                  <% }); %>
              </div>
            </div>
          </div>

        </div><!-- End Right side columns -->

      </div>
    </section>
  </main>

  <script>
    function getRankingClass(index) {
      switch (index) {
        case 0:
          return 'text-warning fw-bold fs-4';
        case 1:
          return 'text-success fw-semibold fs-5';
        case 2:
          return 'text-info fw-medium fs-6';
        default:
          return 'text-secondary';
      }
    }
  </script>
  <%- include('../inc/footer.ejs') %>