<%- include('../inc/header.ejs') %>
<div class="container">
    <h1 style="font-weight: bold; text-align: center;">Danh sách Salon</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <form class="d-flex" role="search">
          <div class="col-3">
  <a type="button" class="btn btn-primary" href="http://localhost:3000/salon/add">Thêm Salon
  </a>
        </div>
        </form>
      </div>
    </nav>
    </div>

    <div class="container">
      <table class="table table-bordered table-striped">
        <tr><th>ID</th> <th>Name</th> <th>Address</th> <th>Describe</th> <th>Image</th> <th>PhoneNumber</th> <th>Evalute</th> <th>UD</th>
        </tr>
        <% listSalon.forEach( ( row )=>{  %>
            <tr>
                <td><%= row._id %></td>
                <td> <%= row.name %></td>
                <td> <%= row.address %></td>
                <td> <%= row.describe %></td>
                <td>  <img src="<%=row.image %>" alt="" style="width: 60px; height: 60px;"></td>
                <td> <%= row.phone %></td>
                <td> <%= row.evalute %></td>
                <td><a type="button" class="btn btn-danger" href="#">Sửa
                </a>
                <a  class="btn btn-danger" href="#">Xóa
                </a>
            </tr>
        
        
            <% } ) %>
        
        
        
        
        </table>
  </div>

    
    <div style="margin-left: 850px; margin-top: 50px;">
        <p class="text-muted">
            <a href="#" class="text-reset">Đang xem 3/12</a>
        
            <button class="btn btn-light">Trước</button>
            <button class="btn btn-light">1</button>
            <button class="btn btn-light">2</button>
            <button class="btn btn-light">3</button>
            <button class="btn btn-light">Tiếp</button>
        </p>
    </div>
  
  <%- include('../inc/footer.ejs') %>
  </div>