<%- include('../inc/header.ejs') %>
<div class="container">
    <h1 style="font-weight: bold; text-align: center;">Danh sách Salon</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <form class="d-flex" role="search">
          <div class="d-flex justify-content-around align-items-center mb-9">
  <a type="button" class="btn btn-success" style="width: 150px;" href="http://localhost:3000/salon/add">+ Thêm Salon
  </a>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Sắp xếp theo
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/salon/sxtheoten">Tên</a></li>
    <li><a class="dropdown-item" href="/salon/sxtheodiachi">Địa chỉ</a></li>
    <li><a class="dropdown-item" href="/salon/sxtheosao">Đánh giá</a></li>
  </ul>
</div>
        </div>
        </form>
      </div>
    </nav>
    </div>

    <div class="container">
      <table class="table table-bordered table-striped">
        <tr> <th>Name</th> <th>Address</th> <th>Describe</th> <th>Image</th> <th>PhoneNumber</th> <th>Evalute</th>
        </tr>
        <% listSalon.forEach( ( row )=>{  %>
            <tr>
                
                <td> <%= row.name %></td>
                <td> <%= row.address %></td>
                <td> <%= row.describe %></td>
                <td>  <img src="<%=row.image %>" alt="" style="width: 60px; height: 60px;"></td>
                <td> <%= row.phone %></td>
                <td> <%= row.evalute %></td>
                <td><a type="button" class="btn btn-danger" href="/salon/edit/<%=row._id%>">Sửa
                </a>
                <td><a type="button" class="btn btn-danger" href="/salon/delete/<%=row._id%>">Xóa
                </a>
            </tr>
        
        
            <% } ) %>
        
        
        
        
        </table>
  </div>

    
  <div style="margin-left: 850px; margin-top: 50px;">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="http://localhost:3000/salon?currentPage-1&limit=5">Previous</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/salon?page=1&limit=5">1</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/salon?page=2&limit=5">2</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/salon?page=3&limit=5">3</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/salon?page=4&limit=5">4</a></li>
        <li class="page-item"><a class="page-link" href="http://localhost:3000/salon?currentPage+1&limit=5">Next</a></li>
      </ul>
    </nav>
  </div>
  
  <%- include('../inc/footer.ejs') %>
  </div>